https://www.kaggle.com/dannielr/marvel-superheroes?select=marvel_characters_info.csv

In [1]:
import pandas as pd

In [2]:
charToComics = pd.read_csv("charactersToComics.csv")
characters = pd.read_csv("characters.csv")
stats = pd.read_csv("charcters_stats.csv")
charInfo = pd.read_csv("marvel_characters_info.csv")
powers = pd.read_csv("superheroes_power_matrix.csv")

In [3]:
powers['name'] = powers['Name']
powers = powers.drop(columns=['Name'])

In [4]:
charInfo = charInfo.drop(columns=['ID'])
charInfo['name'] = charInfo['Name']
charInfo = charInfo.drop(columns=['Name'])

In [5]:
stats['name'] = stats['Name']
stats = stats.drop(columns=['Name'])
stats.head()

,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total,name
0,good,50,31,43,32,25,52,233,3-D Man
1,good,38,100,17,80,17,64,316,A-Bomb
2,good,88,14,35,42,35,85,299,Abe Sapien
3,good,50,90,53,64,84,65,406,Abin Sur
4,bad,63,80,53,90,55,95,436,Abomination

In [6]:
characters.head()

   characterID             name
0      1009220  Captain America
1      1010740   Winter Soldier
2      1009471        Nick Fury
3      1009552     S.H.I.E.L.D.
4      1009228    Sharon Carter

In [7]:
charToComics.head()

   comicID  characterID
0    16232      1009220
1    16232      1010740
2    16248      1009220
3    16248      1009471
4    16248      1009552

In [8]:
charToComics['characterID'].value_counts()

1009610    3199
1009726    2997
1009368    2388
1009718    2163
1009220    2040
           ...
1011413       1
1011243       1
1009373       1
1011281       1
1010768       1
Name: characterID, Length: 1170, dtype: int64

In [9]:
df = pd.merge(charToComics, characters, how='inner', on=['characterID'])

In [10]:
df = pd.merge(df, stats, how='inner', on=['name'])

In [11]:
df = pd.merge(df, charInfo, how='inner', on=['name'])

In [12]:
df = pd.merge(df, powers, how='inner', on=['name'])

In [13]:
df

,comicID,characterID,name,Alignment_x,Intelligence_x,Strength,Speed,Durability_x,Power,Combat,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,16232,1009220,Captain America,good,63,19,35,56,46,100,...,False,False,False,False,False,False,False,False,False,False
1,16248,1009220,Captain America,good,63,19,35,56,46,100,...,False,False,False,False,False,False,False,False,False,False
2,16241,1009220,Captain America,good,63,19,35,56,46,100,...,False,False,False,False,False,False,False,False,False,False
3,16234,1009220,Captain America,good,63,19,35,56,46,100,...,False,False,False,False,False,False,False,False,False,False
4,16236,1009220,Captain America,good,63,19,35,56,46,100,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49080,11783,1011073,Bloodaxe,bad,63,80,33,80,84,84,...,False,False,False,False,False,False,False,False,False,False
49081,11780,1011073,Bloodaxe,bad,63,80,33,80,84,84,...,False,False,False,False,False,False,False,False,False,False
49082,11779,1011073,Bloodaxe,bad,63,80,33,80,84,84,...,False,False,False,False,False,False,False,False,False,False
49083,11778,1011073,Bloodaxe,bad,63,80,33,80,84,84,...,False,False,False,False,False,False,False,False,False,False
49084,7105,1011349,Blackout,bad,63,32,45,80,38,65,...,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isna().any().any() # nenhum valor faltante

False

In [15]:
df['characterID'].value_counts()

1009610    9597
1009368    2388
1009718    2163
1009220    2040
1009664    1589
           ...
1011293       2
1009721       2
1011088       2
1010764       1
1011349       1
Name: characterID, Length: 178, dtype: int64

In [16]:
# vamos salvar esse df em um novo csv para facilitar nossa vida

df.to_csv("marvel.csv")