https://www.kaggle.com/dannielr/marvel-superheroes?select=marvel_characters_info.csv

In [1]:
import pandas as pd

In [2]:
charToComics = pd.read_csv("dataset/charactersToComics.csv")
characters = pd.read_csv("dataset/characters.csv")
stats = pd.read_csv("dataset/charcters_stats.csv")
charInfo = pd.read_csv("dataset/marvel_characters_info.csv")
powers = pd.read_csv("dataset/superheroes_power_matrix.csv")
comics = pd.read_csv("dataset/comics.csv")

In [3]:
len(comics)

41227

In [4]:
import re
import numpy as np
regexp = re.compile(r'\([1-3][0-9]{3}\)')
years = []
for i in comics.title:
    if not regexp.search(i):
        years.append(np.nan)
    else:
        year_ = re.findall(r'[1-3][0-9]{3}', i)
        years.append(int(year_[0]))
        
comics['year'] = years
comics['year'] = comics['year']
comics = comics[comics['year'].notna()]
len(comics)

35070

In [5]:
comics['year'].value_counts()

2015.0    2204
2010.0    2106
1963.0    1594
2008.0    1574
2016.0    1503
          ...
1872.0       6
1958.0       5
1234.0       3
1000.0       2
1960.0       1
Name: year, Length: 81, dtype: int64

In [6]:
powers['name'] = powers['Name']
powers = powers.drop(columns=['Name'])

In [7]:
charInfo = charInfo.drop(columns=['ID'])
charInfo['name'] = charInfo['Name']
charInfo = charInfo.drop(columns=['Name'])

In [8]:
stats['name'] = stats['Name']
stats = stats.drop(columns=['Name'])
stats.head()

,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total,name
0,good,50,31,43,32,25,52,233,3-D Man
1,good,38,100,17,80,17,64,316,A-Bomb
2,good,88,14,35,42,35,85,299,Abe Sapien
3,good,50,90,53,64,84,65,406,Abin Sur
4,bad,63,80,53,90,55,95,436,Abomination

In [9]:
characters.head()

   characterID             name
0      1009220  Captain America
1      1010740   Winter Soldier
2      1009471        Nick Fury
3      1009552     S.H.I.E.L.D.
4      1009228    Sharon Carter

In [10]:
charToComics.head()

   comicID  characterID
0    16232      1009220
1    16232      1010740
2    16248      1009220
3    16248      1009471
4    16248      1009552

In [11]:
charToComics['characterID'].value_counts()

1009610    3199
1009726    2997
1009368    2388
1009718    2163
1009220    2040
           ...
1011413       1
1011243       1
1009373       1
1011281       1
1010768       1
Name: characterID, Length: 1170, dtype: int64

In [12]:
df = pd.merge(charToComics, characters, how='left', on=['characterID'])

In [13]:
df = pd.merge(df, comics, how='left', on=['comicID'])
df = df.drop(columns=['description', 'issueNumber'])
df['year'].value_counts()

1963.0    8602
2010.0    5397
1998.0    3498
1991.0    2890
1999.0    2813
          ...
1945.0       9
1950.0       6
1000.0       2
2020.0       2
1953.0       1
Name: year, Length: 73, dtype: int64

In [14]:
df = pd.merge(df, stats, how='left', on=['name'])

In [15]:
df = pd.merge(df, charInfo, how='left', on=['name'])

In [16]:
df = pd.merge(df, powers, how='left', on=['name'])

In [17]:
df.head()

,comicID,characterID,name,title,year,Alignment_x,Intelligence_x,Strength,Speed,Durability_x,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,16232,1009220,Captain America,Cap Transport (2005) #12,2005.0,good,63.0,19.0,35.0,56.0,...,False,False,False,False,False,False,False,False,False,False
1,16232,1010740,Winter Soldier,Cap Transport (2005) #12,2005.0,good,56.0,32.0,35.0,65.0,...,False,False,False,False,False,False,False,False,False,False
2,16248,1009220,Captain America,Cap Transport (2005) #9,2005.0,good,63.0,19.0,35.0,56.0,...,False,False,False,False,False,False,False,False,False,False
3,16248,1009471,Nick Fury,Cap Transport (2005) #9,2005.0,good,75.0,11.0,23.0,42.0,...,False,False,False,False,False,False,False,False,False,False
4,16248,1009552,S.H.I.E.L.D.,Cap Transport (2005) #9,2005.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# vamos salvar esse df em um novo csv para facilitar nossa vida

df.to_csv("dataset/marvel.csv")