https://www.kaggle.com/dannielr/marvel-superheroes?select=marvel_characters_info.csv

In [1]:
import pandas as pd

In [2]:
charToComics = pd.read_csv("dataset/charactersToComics.csv")
characters = pd.read_csv("dataset/characters.csv")
stats = pd.read_csv("dataset/charcters_stats.csv")
charInfo = pd.read_csv("dataset/marvel_characters_info.csv")
powers = pd.read_csv("dataset/superheroes_power_matrix.csv")
comics = pd.read_csv("dataset/comics.csv")
comics.head()

,comicID,title,issueNumber,description
0,16232,Cap Transport (2005) #12,12.0,NaN
1,16248,Cap Transport (2005) #9,9.0,NaN
2,4990,Halo Preview (2006),0.0,NaN
3,21486,Ultimate X-Men (Spanish Language Edition) (200...,9.0,NaN
4,58634,A Year of Marvels: The Incredible (2016) #5,5.0,It’s Halloween in the Marvel U! What does that...

In [3]:
# pd.options.mode.chained_assignment = None
# comicsFiltered = comics[comics.title.str.contains("\([^\d]*(\d+)[^\d]*\)")]
# comicsFiltered.head(50)
# years = []
# for i in comicsFiltered.title:
#         year = i[i.find_all("(")+1:i.find_all(")")]
#         #if(len(year) == 4):
#          #   years.append(int(year))
#         #else:
#          #   yearR = i[i.rfind("(")+1:i.rfind(")")]
#           #  print(yearR)
#             #years.append()
  

# print(len(years), len(comicsFiltered))
# comicsFiltered["years"] = years
# comicsFiltered.head()

In [4]:
powers['name'] = powers['Name']
powers = powers.drop(columns=['Name'])

In [5]:
charInfo = charInfo.drop(columns=['ID'])
charInfo['name'] = charInfo['Name']
charInfo = charInfo.drop(columns=['Name'])

In [6]:
stats['name'] = stats['Name']
stats = stats.drop(columns=['Name'])
stats.head()

,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total,name
0,good,50,31,43,32,25,52,233,3-D Man
1,good,38,100,17,80,17,64,316,A-Bomb
2,good,88,14,35,42,35,85,299,Abe Sapien
3,good,50,90,53,64,84,65,406,Abin Sur
4,bad,63,80,53,90,55,95,436,Abomination

In [7]:
characters.head()

   characterID             name
0      1009220  Captain America
1      1010740   Winter Soldier
2      1009471        Nick Fury
3      1009552     S.H.I.E.L.D.
4      1009228    Sharon Carter

In [8]:
charToComics.head()

   comicID  characterID
0    16232      1009220
1    16232      1010740
2    16248      1009220
3    16248      1009471
4    16248      1009552

In [9]:
charToComics['characterID'].value_counts()

1009610    3199
1009726    2997
1009368    2388
1009718    2163
1009220    2040
           ...
1011413       1
1011243       1
1009373       1
1011281       1
1010768       1
Name: characterID, Length: 1170, dtype: int64

In [10]:
df = pd.merge(charToComics, characters, how='left', on=['characterID'])

In [11]:
df = pd.merge(df, stats, how='left', on=['name'])

In [12]:
df = pd.merge(df, charInfo, how='left', on=['name'])

In [13]:
df = pd.merge(df, powers, how='left', on=['name'])

In [14]:
df

,comicID,characterID,name,Alignment_x,Intelligence_x,Strength,Speed,Durability_x,Power,Combat,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,16232,1009220,Captain America,good,63.0,19.0,35.0,56.0,46.0,100.0,...,False,False,False,False,False,False,False,False,False,False
1,16232,1010740,Winter Soldier,good,56.0,32.0,35.0,65.0,60.0,84.0,...,False,False,False,False,False,False,False,False,False,False
2,16248,1009220,Captain America,good,63.0,19.0,35.0,56.0,46.0,100.0,...,False,False,False,False,False,False,False,False,False,False
3,16248,1009471,Nick Fury,good,75.0,11.0,23.0,42.0,25.0,100.0,...,False,False,False,False,False,False,False,False,False,False
4,16248,1009552,S.H.I.E.L.D.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82397,45951,1009337,Havok,good,63.0,10.0,25.0,60.0,71.0,45.0,...,False,False,False,False,False,False,False,False,False,False
82398,45951,1011428,Hope Summers,good,63.0,10.0,12.0,32.0,89.0,75.0,...,False,False,False,False,False,False,False,False,False,False
82399,45951,1011086,Nemesis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82400,45951,1009546,Rogue,good,75.0,10.0,12.0,28.0,80.0,80.0,...,False,False,False,False,False,False,False,False,False,False
82401,45951,1009724,X-Force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df['characterID'].value_counts()

1009610    9597
1009726    2997
1009368    2388
1009718    2163
1009220    2040
           ...
1011151       1
1009549       1
1011113       1
1009178       1
1011226       1
Name: characterID, Length: 1170, dtype: int64

In [16]:
# vamos salvar esse df em um novo csv para facilitar nossa vida

df.to_csv("dataset/marvel.csv")